@import "../../assets/styles/global";
@import "../../styles";

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.spinner-container {
  height: 80vh;
  display: flex;
}

.login-card {
  width: 300px;
  align-self: center;
}

mat-spinner {
  margin: auto;
}

.login-form mat-form-field {
  width: 100%;
}

.login-form.ng-invalid {
  mat-form-field .mat-form-field-underline {
    background-color: mat-color($timekeeper-app-warn);
  }

  mat-label {
    color: mat-color($timekeeper-app-warn);
  }
}

.login-form.ng-invalid mat-form-field .mat-form-field-underline {
  background-color: mat-color($timekeeper-app-warn);
}

.mat-form-field-underline {
  background-color: mat-color($timekeeper-app-accent);
}
