@import "../../styles";

.card-height-100 {
  // as cards have double the gap as padding
  height: calc(100% - #{4 * $gap});
}

.full-height {
  height: calc(100% - #{7 * $gap});
  overflow: auto;
}

.calendar-header {
  border-bottom: 1px solid lightgrey;
}

.calendar_wrapper {
  display: grid;
  grid-template-columns: 5.5% 13.5% 13.5% 13.5% 13.5% 13.5% 13.5% 13.5%;

  .day {
    text-align: center;
    padding: 8px;
  }

  .day.monday {
    grid-column: 2/2;
  }

  .day.tuesday {
    grid-column: 3/3;
  }

  .day.wednesday {
    grid-column: 4/4;
  }

  .day.thursday {
    grid-column: 5/5;
  }

  .day.friday {
    grid-column: 6/6;
  }

  .day.saturday {
    grid-column: 7/7;
  }

  .day.sunday {
    grid-column: 8/8;
  }

  // first row
  .day:nth-of-type(n + 1):nth-of-type(-n + 8) {
    grid-row: 1;
  }
  // all other rows
  $grid-rows: 48;
  $grid-columns: 8;
  @for $i from 1 through $grid-rows {
    .day:nth-of-type(n + #{$grid-columns * $i + 1}):nth-of-type(-n + #{$grid-columns * ($i + 1)}) {
      grid-row: $i+1;
    }
  }


  .day.today {
    .day_name {
      color: mat-color($timekeeper-app-accent);
    }

    .day_number {
      background: mat-color($timekeeper-app-accent);
      color: white;
      border-radius: 36px;
      height: 36px;
      width: 36px;
      font-size: 20px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .day_number {
    font-weight: bold;
    font-size: 25px;
  }

  .day_element {
    border: solid 1px lightgrey;
    height: 24px;
    padding: 0;
  }

  .hour {
    line-height: 24px;
    font-size: smaller;
  }

  .day_element.even {
    border-bottom-color: lighten(lightgrey, 30);
  }

  // working time entry
  section {
    font-size: smaller;
    padding-left: $gap / 2;
    color: white;
    line-height: 26px;
  }

  section.primary {
    background: mat-color($timekeeper-app-primary);
    grid-column: 4;
    grid-row: 1/span 8;

    margin: $gap / 2;
    border-radius: $gap;
  }

  // break entry
  section.warn {
    background: mat-color($timekeeper-app-accent);
    grid-column: 4;
    grid-row: 3/span 1;

    margin-left: $gap / 2;
    margin-right: $gap / 2;
  }
}
