<mat-card class="card-height-100">
  <div class="calendar_wrapper calendar-header" [ngStyle]="{'margin-right': scrollBarWidthInPx}">

    <div class="day"></div>
    <div class="day" *ngFor="let day of days" [class.today]="day.today">
      <span class="day_name">{{day.name_short}}</span><br>
      <span class="day_number">{{day.number}}</span>
    </div>
  </div>
  <div class="calendar_wrapper full-height" #scrollingcontainer>
    <ng-container *ngFor="let hour of fullDayTime">
      <div class="hour"><span *ngIf="hour.minutes === 0">{{hour.time}}</span></div>
      <div class="day {{day.name_css}} day_element" *ngFor="let day of days" [class.odd]="hour.minutes === 30" [class.even]="hour.minutes === 0" (click)="showAddEntryModal()"></div>
    </ng-container>

    <section class="primary">Office</section>
    <section class="warn">Pause</section>
  </div>
</mat-card>
