@import "../../../styles";

.calendar-weekly {
  padding: $gap;
}

.days > div, .timeline > div, .entries > div {
  float: left;
}

.days:after, .timeline:after, .entries:after {
  content: '';
  display: block;
  clear: both;
  float: none;
}

.day-element {
  // 60 for the hours on the left + 1 for border
  width: calc((100% - 61px) / 7);

  .day-name {
    text-align: center;
    font-weight: bold;
  }

  .day-number {
    text-align: center;
    font-size: 16px;
    height: 28px;
    width: 28px;
    line-height: 28px;
    border-radius: 28px;
    margin: auto;
  }
}

.day-element.active {
  .day-name {
    color: mat-color($timekeeper-app-accent);
  }

  .day-number {
    background: mat-color($timekeeper-app-accent);
    color: white;
    font-weight: bold;
  }
}

.hours {
  width: 60px;

  div {
    padding-bottom: 1px;
  }
}

.hours, .timeline div {
  min-height: 20px;
}

.timeline {
  .day-element div {
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
  }

  div:nth-of-type(2).day-element {
    border-left: 1px solid grey;
  }

  .day-element div:nth-of-type(1) {
    border-top: 1px solid grey;
  }

  .day-element div:nth-child(2n + 1) {
    border-bottom: 1px solid lightgrey;
  }

  .day-element div {
    position: relative;
    z-index: 1;
  }
}

.trackings {
  border: none !important;
  position: absolute;
  top: -21px;
  margin-bottom: -21px;

  > div.entry {
    position: absolute;
    background: lightblue;
    border: none !important;
    margin-right: $gap / 2;
    span {
      display: inline-block;
      color: white;
      margin-left: $gap;
      margin-right: $gap;
      font-size: smaller;
    }
    span.type {
      font-weight: bold;
      margin-top: $gap;
    }
  }

  @for $i from 0 to 47 {
    $full: ($i - 47) * -1;
    $minute: 30;
    @if $full % 2 == 0 {
      $full: $full / 2;
      $minute: 0;
    } @else {
      $full: ($full - 1) / 2;
    }
    > div.entry.start-#{$full}-#{$minute} {
      top: -1 * (21px * $i);
    }
  }

  @for $i from 1 to 24 {
    > div.entry.length-#{$i * 30} {
      height: 21px * $i;
    }
  }
}

// die 30 minuten schritte fehlen
@for $i from 1 to 23 {
  .entry.start-#{$i} {
    top: 21px * $i;
  }
}

