<mat-card class="card-height-100">
  <div class="calendar-weekly">
    <div class="days">
      <ul>
        <li *ngFor="let day of days" [class.active]="day.today">
          <div class="day-name">{{day.name_short}}</div>
          <div class="day-number">{{day.number}}</div>
        </li>
      </ul>
    </div>
    <div class="timeline">
      <ul>
        <ng-container *ngFor="let hour of fullDayTime">
          <li>
            <span *ngIf="hour.minutes === 0">{{hour.time}}</span>
          </li>
        </ng-container>
      </ul>
    </div>
    <div class="events">
      <ul>
        <li *ngFor="let day of days">
          <!--
          <ul>
            <li class="entry-one office event">
              <div class="content">
                <span class="time">10:00 - 11:30</span>
                <span>Office</span>
              </div>
            </li>
          </ul>
          -->
        </li>
      </ul>
    </div>
  </div>
</mat-card>
