<mat-card class="card-height-100">
  <div class="calendar-weekly">

    <!--
    als einzelne divs statt der listen

    -->
    <div class="days">
      <div class="hours"></div>
      <div *ngFor="let day of days" [class.active]="day.today" class="day-element">
        <div class="day-name">{{day.name_short}}</div>
        <div class="day-number">{{day.number}}</div>
      </div>
    </div>
    <div class="timeline">
      <div class="hours">
        <div *ngFor="let hour of fullDayTime">
          <span *ngIf="hour.minutes === 0">{{hour.time}}</span>
        </div>
      </div>
      <div *ngFor="let day of days" class="day-element">
        <div *ngFor="let hour of fullDayTime" (click)="showAddEntryModal(hour, day)">

        </div>
      </div>
    </div>


  </div>
</mat-card>
