@import "../../../styles";

.calendar-weekly {
  position: relative;
}

.days > div, .timeline > div {
  float: left;
}

.day-element {
  width: calc((100% - 60px) / 7);
}

.hours {
  width: 60px;
}

.hours, .timeline div {
  min-height: 20px;
}

.days:after, .timeline:after {
  content: '';
  display: block;
  clear: both;
  float: none;
}
