@import "../../../styles";

.calendar-yearly {
  position: relative;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.months {
  width: 100%;

  > li {
    float: left;
    width: calc(100% / 12);
  }

  .month-name {
    background: mat-color($timekeeper-app-primary, 100);
    padding-bottom: 4px;
    padding-top: 4px;
    text-align: center;
  }

  ul.days {
    font-size: smaller;

    .day-name {
      width: 20px;
      text-align: center;
      background: mat-color($timekeeper-app-primary, 100);
    }

    .day-number {
      background: mat-color($timekeeper-app-primary, 200);
      width: 24px;
      text-align: center;
    }
  }

  ul.days div {
    float: left;
  }

  ul.days {
    li {
      height: 24px;
      line-height: 24px;
      border: 1px solid mat-color($timekeeper-app-primary, 100);
    }

    li.saturday, li.sunday {
      background: mat-color($timekeeper-app-primary, 100);
    }
  }

  ul.days li:after {
    content: '';
    display: block;
    clear: both;
    float: none;
  }
}

.months:after {
  content: '';
  display: block;
  clear: both;
  float: none;
}
