@import "../styles";

.container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.main-toolbar {
  position: absolute;
  top: 0;
  justify-content: space-between;
  height: 60px;
}

.content_container {
  width: 100%;
  margin: $gap;
  height: calc(100vh - #{60 + 2 * $gap});
  top: 60px;
  position: relative;
}
