@import "../styles";

.container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.content_container {
  width: 100%;
  height: calc(100vh - #{60 + 2 * $gap});
  top: 60px;
  position: relative;
  display: flex;
}

.sidenav {
  display: flex;
}

.mat-drawer-container {
  width: 100%;
}
