<div class="container">
  <app-toolbar></app-toolbar>
  <div class="content_container">
    <mat-drawer-container class="example-container">
      <mat-drawer #mainmenu mode="side">
        <mat-list role="list">
          <mat-list-item role="listitem"><a routerLink="/calendar/weekly"><mat-icon>calendar_today</mat-icon> Weekly</a></mat-list-item>
          <mat-list-item role="listitem"><a routerLink="/calendar/monthly"><mat-icon>calendar_today</mat-icon> Monthly</a></mat-list-item>
          <mat-list-item role="listitem"><a routerLink="/calendar/yearly"><mat-icon>calendar_today</mat-icon> Yearly</a></mat-list-item>
          <mat-list-item role="listitem"><a (click)="logout()"><mat-icon>logout</mat-icon> Logout</a></mat-list-item>
        </mat-list>
      </mat-drawer>
      <router-outlet></router-outlet>
    </mat-drawer-container>
  </div>
</div>
